[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
snekcore = {editable = true, path = "./libs/SnekCore"}
fancysnek = {editable = true, path = "./libs/FancySnek"}
cutesnek = {editable = true, path = "./libs/CuteSnek"}

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
